body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: wheat;

}
.main-heading {
    font-size: 50px;
    font-weight: 100;
    padding: 50px 30px;
}
.test > h2{
   margin: 30px;
   font-size: 30px;
   font-weight: 100;
   
}
.test {
    background-color: lightblue;
}
.testo-forma{
    
    width: 100%;
    padding: 10px;
    
}
.form-check{
    font-size: 20px;
    color: rgb(236, 236, 236);
}
.quiz{
    margin: 10px;
}

.quiz > p {
    font-size: 30px;
    font-weight: 100;
    color: rgb(236, 236, 236);
}

.btn{
    font-size: 20px;
    padding: 5px;
    margin: 20px;
    margin-left: 250px;
    border-radius: 10px;
    border:none;
}